body {
    background-image: url("../pictures/spaceHD.webp");
    font-family: Montserrat;
    background-size: 100% auto;
}
@media (min-width: 1921px) {
    body {
        background-image: url("../pictures/space4k.webp");
        font-family: Montserrat;
        background-size: 100% auto;
    }
}

h1 {
    color: white;
    font-size: 4em;
}

#bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#status {
    position: absolute;
    bottom: 70px;
    color: white;
}

#save {
    position: absolute;
    bottom: 10px;
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#save:hover {
    cursor: pointer;
    background-color: bisque;
}

#engine-text {
    clear: left;
}

#engine {
    margin-top: 10px;
}

#search-engines {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    color: white;
    font-size: 150%;
}

#line_1 {
    text-align: center;
    width: 100%;
}